@model List<CMS.Data.Entities.Product>

@{
    Layout = "_LayoutAdmin";
}

<div class="container mt-4">

    <div class="d-flex justify-content-between mb-3">

        <h2>Danh sách sản phẩm</h2>

        <a asp-action="Create"
           class="btn btn-success">
            Thêm sản phẩm
        </a>

    </div>

    <table class="table table-bordered">

        <thead>
            <tr>
                <th>ID</th>
                <th>Tên sản phẩm</th>
                <th>Mô tả</th>
                <th>Giá</th>
                <th>Số lượng</th>
                <th>Hình ảnh</th>
                <th>Danh mục</th>
                <th width="180">Chức năng</th>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in Model)
            {
                    <tr>

                        <td>@item.Id</td>

                        <td>@item.Name</td>

                        <td>@item.Description</td>

                        <td>@item.Price VNĐ</td>

                        <td>@item.StockQuantity</td>

                        <td>
                            <img src="@item.ImageUrl"
                                 width="100" />
                        </td>

                        <td>
                        @item.CategoryProduct?.Name
                        </td>

                        <td>

                            <a asp-action="Edit"
                               asp-route-id="@item.Id"
                               class="btn btn-warning btn-sm">
                                Sửa
                            </a>

                            <a asp-action="Delete"
                               asp-route-id="@item.Id"
                               class="btn btn-danger btn-sm"
                               onclick="return confirm('Bạn có chắc muốn xóa?')">
                                Xóa
                            </a>

                        </td>

                    </tr>
            }

        </tbody>

    </table>

</div>